<!DOCTYPE html>
<html>
<head>

    <!-- <link rel="stylesheets" src="./styles.css"> -->
    <link rel="stylesheet" type="text/css" href="styles.css"/>
</head>
<body>
    <section>
        <div class="job-posting-drawer-header">
            <div class="left-icon"></div>
            <div class="title-and-tags-box">
                <div class="title">Looking For Dev! React developer for hire.</div>
                <div class="tags">
                    <div class="tag">React</div>
                    <div class="tag">TypeScript</div>
                    <div class="tag">TailwindCSS</div>
                </div>
            </div>
            <div class="drawer-icon"></div>
        </div>
    </section>
</body>
</html>